<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Restaurant Ranking</title>
</head>
<body>
    <header>
        <h1>Restaurant Ranking</h1>
        <nav class="nav-head">
            <ul class="no-list">
                <li><a class="link-head" href="/">Home</a></li>
                <li><a class="link-head" href="/rating">Buscar por Ciudad, Cocina y Calificacion</a></li>
                <li><a class="link-head" href="/name">Buscar por Nombre</a></li>
                <li><a class="link-head" href="/solo_rating">Buscar por Calificación</a></li>
                <li><a class="link-head" href="/location">Buscar por calle</a></li>
                <li><a class="link-head" href="/zipcode">Buscar por ZipCode</a></li>
                <li><a class="link-head" href="/coordinates">Buscar por coordenadas</a></li>
                <li><a class="link-head" href="/score">Buscar por Score</a></li>
                <li><a class="link-head" href="/score_comparar">Comparar por Score</a></li>
                <li><a class="link-head" href="/recent_openings">Abierta recientemente</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="contact">
            <h2>Contact</h2>
            <p>Para cualquier problema o Feedback, contactarse por aca: </p>
            <ul class="no-list column">
                <li>Email: info@restaurantranking.com</li>
                <li>Telfono: +1 123-456-7890</li>
                <li>Direccion: 123 direcionabc, Arequipa, Peru</li>
            </ul>
        </div>
        <p>Restaurant Ranking &copy; 2024</p>
    </footer>